<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>書き込み掲示板</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script type="text/javascript" src="/static/js/main.js"></script>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</head>
<body>


<div id="so_far_post_id" class="so_far_post_class">
<p>過去の投稿を表示</p>
</div>


<body onload="start()">
    <script>
        var save_list = {{ save_list|tojson }};
        start(save_list)
    </script>
</body>


<p>method name {{method}}</p>


<form method="get" action="/">
<input class="btn btn-success" type="submit" value="GET">
</form>
<br>



<form method="post" action="/">
<input class="btn btn-warning" type="submit" name="clear" value="登録内容clear">
</form>



<form method="post" action="/">
<p>お名前</p>
<input type="text" name="name" required>
<p>内容</p>
<textarea name="write_text" cols="50" rows="10" required></textarea>
<br><br>
<input class="btn btn-primary" type="submit" value="投稿する">
</form>



</body>
</html>